.mainBlock {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.column {
    display: flex;
    flex-direction: column;
}

.inputs {
    gap: 24px;
}

.description {
    width: 320px;
    height: 64px;
    color: #8585AD;
    opacity: 0.4;
}

.secondBlock {
    display: flex;
    width: 480px;
}

.button {
    color: #8585AD;
    width: 320px;
    height: 64px;
    text-align: start;
}

.button.active {
    color: white;
}