.burgerConstructor {
    display: flex;
    flex-direction: column;
    gap: 0px;
    max-height: 65vh;
    width: 600px;
}

.burgerComponents {
    display: flex;
    min-height: 47vh;
    flex-direction: column;
    overflow-y: scroll;
    max-width:100%;
}

.burgerComponent {
    width: 536px;
}

.orderInfo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 568px;
}

.totalPriceSvg svg{
    display: flex;
    justify-content: center;
    width: 36px;
    height: 36px;
}
