.burgerConstructor {
    display: flex;
    flex-direction: column;
    gap: 0px;
    max-height: 68vh;
    width: 600px;
}

.burgerComponent {
    width: 536px;
}

.orderInfo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 568px;
}

.totalPriceSvg svg{
    display: flex;
    justify-content: center;
    width: 36px;
    height: 36px;
}

.onHover {
    border: 1px solid #3C39EC;
    border-radius: var(--common-border-radius);
    box-shadow: 0px 0px 30px 0px #3C39EC;
    padding-bottom: 30px;
}

.burgerConstructorEmpty {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}