.mainBlock {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.column {
    display: flex;
    flex-direction: column;
}

.inputs {
    gap: 24px;
}

.description {
    width: 320px;
    height: 64px;
    color: #8585AD;
    opacity: 0.4;
}

.buttonsBlock {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.button {
    width: 200px;
}