.mainBlock {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #1C1C21;
    border-radius: 40px;
    min-height: 538px;
    width: 720px;
    border: 1px solid var(--interface-modal-edge, rgba(76, 76, 255, 0.20));
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 40px 40px 0 40px;
    align-items: center;
}

.title {
    margin: 0;
}

.closeIcon {
    cursor: pointer;
}