.mainBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    margin: 120px auto 0;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.link {
    color: white;

}